body {
  font-family: 'Noto Sans KR', sans-serif; /* 한글 폰트 설정 */
  line-height: 1.5; /* 줄 간격 설정 */
}

/* 헤더 스타일 */
header {
  background-color: #2E2E2E;
  color: #fff;
  padding: 23px 0;
  text-align: center; /* 헤더 텍스트를 가운데 정렬 */
}

/* 헤더 내부의 h1 요소 스타일 */
header h1 {
  margin: 0; /* 기본 마진 제거 */
  font-size: 70px; /* 글자 크기를 설정 */
  padding-left: 10px; /* 텍스트를 왼쪽으로 조금 이동 */
}


.container {
  display: grid;
  margin-left: 5%;
  grid-template-columns: 25% 30% 30%;
  grid-template-rows: 100px 300px 300px 300px;
}

/* 네비게이션 스타일 */
nav ul {
  list-style-type: none;
  padding: 10px;
  text-align: center; /* 네비게이션 메뉴를 가운데 정렬 */
}

nav ul li {
  display: inline;
  margin-right: 80px; /* 적절한 값으로 수정 */
}

nav ul li:last-child {
  margin-right: 0; /* 마지막 메뉴 항목의 간격을 없앰 */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* 메인 영역 스타일 */
main {
  padding: 0px;
}

/* 로그인 폼 스타일 */
.login-box {
  grid-row: 2;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  box-sizing: border-box;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* 캘린더 스타일 */
#calendar {
  grid-row: 3;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}

/* 사건 현황 스타일 */
#incident-status {
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}
#drive-educate{
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}
#sponsor{
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}
#law{
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}
#report{
  grid-row: 2 / 5;
  grid-column: 2 / 4;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 13px;
  text-align: center;
}

.overlap {
  position: fixed;
  margin-top: 100px;
  border-radius: 13px;
  right: 5px;
  width: 12%;
  height: 300px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
  border: 1px solid;
  text-align: center;
  height: 15%;
  font-size: 120%;
}