.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .div {
    background-color: #ffffff;
    width: 1280px;
    height: 2104px;
    position: relative;
  }
  
  .macbook-air .main {
    position: absolute;
    width: 720px;
    height: 1045px;
    top: 376px;
    left: 469px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .login {
    position: absolute;
    width: 352px;
    height: 214px;
    top: 376px;
    left: 76px;
  }
  
  .macbook-air .overlap {
    position: relative;
    width: 348px;
    height: 214px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .ID {
    position: absolute;
    width: 195px;
    height: 44px;
    top: 31px;
    left: 123px;
    background-color: #ffffff;
  }
  
  .macbook-air .PW {
    position: absolute;
    width: 195px;
    height: 44px;
    top: 93px;
    left: 123px;
    background-color: #ffffff;
  }
  
  .macbook-air .group {
    left: 69px;
    position: absolute;
    width: 114px;
    height: 36px;
    top: 154px;
  }
  
  .macbook-air .overlap-group {
    position: relative;
    width: 112px;
    height: 36px;
    background-color: #ffffff;
  }
  
  .macbook-air .text-wrapper {
    width: 83px;
    top: 6px;
    left: 20px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-wrapper {
    left: 205px;
    position: absolute;
    width: 114px;
    height: 36px;
    top: 154px;
  }
  
  .macbook-air .text-wrapper-2 {
    width: 68px;
    top: 6px;
    left: 29px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-3 {
    width: 97px;
    top: 103px;
    left: 23px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .text-wrapper-4 {
    width: 81px;
    top: 35px;
    left: 31px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .nav {
    position: absolute;
    width: 362px;
    height: 463px;
    top: 620px;
    left: 76px;
  }
  
  .macbook-air .overlap-2 {
    position: relative;
    width: 348px;
    height: 463px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .div-wrapper {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 1px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-5 {
    top: 22px;
    left: 82px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-group-2 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 67px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-6 {
    top: 21px;
    left: 112px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-3 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 133px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .p {
    top: 20px;
    left: 70px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-4 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 199px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-7 {
    top: 19px;
    left: 85px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-5 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 265px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-8 {
    top: 18px;
    left: 91px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-6 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 331px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-9 {
    top: 17px;
    left: 91px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .overlap-7 {
    position: absolute;
    width: 348px;
    height: 66px;
    top: 397px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-10 {
    top: 16px;
    left: 94px;
    white-space: nowrap;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .header {
    position: absolute;
    width: 1280px;
    height: 83px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .macbook-air .logo {
    position: relative;
    width: 314px;
    height: 70px;
    top: 7px;
    left: 30px;
  }
  
  .macbook-air .overlap-group-3 {
    position: relative;
    width: 312px;
    height: 70px;
  }
  
  .macbook-air .rectangle {
    position: absolute;
    width: 273px;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
  }
  
  .macbook-air .text-wrapper-11 {
    position: absolute;
    width: 201px;
    top: 20px;
    left: 111px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-air .banner {
    position: absolute;
    width: 1115px;
    height: 230px;
    top: 118px;
    left: 76px;
  }
  
  .macbook-air .overlap-8 {
    position: relative;
    width: 1113px;
    height: 230px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .text-wrapper-12 {
    width: 153px;
    top: 96px;
    left: 480px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  